body {
    background-color: #a3ffc0;
    font-family: Arial, sans-serif;
    margin-right: 64px;
    margin-left: 64px;
}
h1 {
    font-size: 60px;
    background-color: aqua;
}
h2 {
    font-size: 48px;
    background-color: #ffcc00;
}
h3 {
    font-size: 32px;
    background-color: #ff6699;
}
h4 {
    font-size: 18px;
    background-color: #c195ff;
}
p {
    color: #fa7272;
}
a {
    color: #00ff55;
    text-decoration: aquamarine;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}
a:hover {
    color: #31ac00;
    text-decoration: underline;
}
section {
    background-color: blue;
    margin: 10px;
}
button:hover {
    background-color: #00ff55;
    color: #31ac00;
}
